
.showcase_img_main {
	background-image: url(../images/restaurant.jpg);
}

.showcase_img_0 {
	background-image: url(../images/bruschetta.jpg);
} 

.showcase_img_1 {
	background-image: url(../images/food.jpg);
} 

.showcase_img_2 {
	background-image: url(../images/roasted_fish.jpg);
} 

.showcase_img_3 {
	background-image: url(../images/cupcakes.jpg);
} 
.showcase_img_4 {
	background-image: url(../images/bruschetta.jpg);
} 
 
.showcase_img_sust_main {
	background-image: url(../images/farm_to_table.jpg);
}  
.showcase_img_sust_0 {
	background-image: url(../images/farm_cows.jpg);
} 
 
.showcase_img_sust_1 {
	background-image: url(../images/fish-market.jpg);
} 

.showcase_img_our_team_main {
	background-image: url(../images/chefs.jpg);
} 

.img_0 {
	background-image: url(../images/bruschetta.jpg);
} 

.img_1 {
	background-image: url(../images/food.jpg);
} 

.img_2 {
	background-image: url(../images/roasted_fish.jpg);
} 

.img_3 {
	background-image: url(../images/cupcakes.jpg);
} 
.img_4 {
	background-image: url(../images/bruschetta.jpg);
} 

.img_5 {
	background-image: url(../images/food.jpg);
} 

.img_6 {
	background-image: url(../images/roasted_fish.jpg);
} 

.img_7 {
	background-image: url(../images/cupcakes.jpg);
} 
.img_8 {
	background-image: url(../images/bruschetta.jpg);
} 